.width-1px {
  width: 1px;
}

.desc-td {
  padding-left: 0 !important;
}

.icon-div {
  margin-right: 5px;
}

.icon-div * {
  margin-top: 0;
  margin-bottom: 0;
}

.icon-div h5 {
  margin-right: 5px;
}

td.mat-cell {
  border-bottom: none;
}

tr.mat-row:nth-of-type(2n) td.mat-cell, tr.mat-row:nth-of-type(2n - 1) td.mat-cell[rowspan="2"] {
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.user-profile-pic {
  border-radius: 10px;
  margin-top: 15px;
}

.placeholder-org {
  background: #aaa6ae;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

tr img, tr p, tr h3 {
  cursor: pointer;
}
